<p id="notice"><%= notice %></p>

<h1>People</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Place</th>
      <th>Name</th>
      <th>Age</th>
      <th>Img</th>
      <th>Status</th>
      <th>Actions</th>
      <th>Wins</th>
      <th>Loses</th>
      <th>Rank</th>
      <th><%= link_to "Reset Rank", destroy_all_fights_path, method: :post, data: { confirm: "You wish to destroy all ranking?" }, class: "btn btn-light" %></th>
    </tr>
  </thead>

  <tbody>
    <% @people.each_with_index do |person, place| %>
      <tr>
        <td><h4><%= place+1 %></h4></td>
        <td><h4><%= person.name %></h4></td>
        <td><h4><%= person.age %></h4></td>
        <td><%= image_tag person.img, class: "img_index" %></td>
        <% if person.lose %>
          <td><h4>Dead</h4></td>
        <% else %>
          <td><h4>Alive</h4></td>
        <% end %>
        <td>
          <%= link_to 'Show', person, class: "btn btn-success" %> |
          <%= link_to 'Edit', edit_person_path(person), class: "btn btn-info" %> |
          <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          <% if person.lose %>
            | <%= link_to 'To Revive', revive_person_path(person), method: :post, data: { confirm: "Do you want to revive #{person.name}?" }, class: "btn btn-warning" %>
          <% else %>
            | <%= link_to 'Start a Fight', fight_person_path(person), method: :post, data: { confirm: "Do you what to send #{person.name} to fight?" }, class: "btn btn-primary" %>
          <% end %>
        </td>
        <td><h4><%= person.wins %></h4></td>
        <td><h4><%= person.loses %></h4></td>
        <td><h4><%= person.wins - person.loses %></h4></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path, class: "btn btn-dark" %>
