<p id="notice"><%= notice %></p>

<h1>People</h1>

<table class="table">
  <thead>
    <tr>
      <th>Place</th>
      <th>Name</th>
      <th>Img</th>
      <th>Wins</th>
      <th>Loses</th>
      <th>Rank</th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <% @people.each_with_index do |person, place| %>
        <td><h4><%= place+1 %></h4></td>
        <td><h4><%= person.name %></h4></td>
        <td><%= image_tag person.img, class: "img_index" %></td>
        <td><h4><%= person.wins %></h4></td>
        <td><h4><%= person.loses %></h4></td>
        <td><h4><%= person.wins - person.loses %></h4></td>
      </tr>
    <% end %>
  </tbody>
</table>
