<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Won</th>
      <th>Losses</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @person.name %></td>
      <td><%= @person.age %></td>
      <td><%= @wins.count %></td>
      <td><%= @loses.count %></td>
      <td><%= link_to 'Edit', edit_person_path(@person) %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Back', people_path %>
