<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @person.name %> |
  <strong>Age:</strong>
  <%= @person.age %>
</p>

<p>
  <%= image_tag @person.img, class: :img_show %>
</p>

<p>
  <p>
    <strong>Points:</strong>
    <%= @person.wins %>
  </p>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
