<p id="notice"><%= notice %></p>

<h1><%= @comic.title %></h1>

<div><%= image_tag "#{@comic.thumbnail}.jpg" %></div>
<div>Description: <%= @comic.description %></div>
<div><%= link_to @comic.url, @comic.url %></div>
