<table class="table">
  <thead>
    <tr>
      <th>Person</th>
      <th>Character</th>
      <th>WINNER</th>
    </tr>
  </thead>
  <tbody>
    <% @fights.each do |fight| %>
      <tr>
        <td>
          <div class="card" style="width: 18rem;">
            <%= image_tag fight.person.img, :class => "card-img-top fight_view" %>
            <div class="card-body">
              <p class="card-text"><%= fight.person.name %></p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <%= image_tag "#{fight.character.thumbnail}.jpg", :class => "card-img-top fight_view" %>
            <div class="card-body">
              <p class="card-text"><%= fight.character.name %></p>
            </div>
          </div>
        </td>
        <td>
          <div class="card" style="width: 18rem;">
            <% if fight.win_class.include?("Person") %>
              <%= image_tag fight.winner.img, :class => "card-img-top fight_view" %>
            <% else %>
              <%= image_tag "#{fight.winner.thumbnail}.jpg", :class => "card-img-top fight_view" %>
            <% end %>
            <div class="card-body">
              <p class="card-text"><%= fight.winner.name %></p>
            </div>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
